In [111]:
# modules
from BraTS2017.load import *
import pandas as pd

# Brats17_TCIA_167_1
# 240, 240, 155

# Paths
StartDir = '/Volumes/Data-Julio'
ListDir = './data/survival_data.csv'
rows = 240
cols = 240
cuts = 155

In [112]:
# list
Patients = get_patient_list(ListDir)
num_patients = len(Patients)

# count classes for all patients
M= [count_classes(StartDir, Patient) for Patient in Patients]
Classes_DataFrame = pd.concat(M,axis = 1)

In [43]:
Volumes_DF = Classes_DataFrame.T.reset_index();
Volumes_DF.columns = ['Brats17ID','Non-Tumor','ET','TC','WT']

            Brats17ID  Non-Tumor     ET     TC     WT
0  Brats17_TCIA_167_1    8764388  26654  57398  79560
1  Brats17_TCIA_242_1    8771394   9087  88963  58556
2  Brats17_TCIA_319_1    8884119  11694  17488  14699

In [45]:
Volumes_DF = pd.merge(Volumes,pd.read_csv(ListDir)).set_index('Brats17ID')
print(Volumes_DF.head(3))

                    Non-Tumor     ET     TC     WT     Age  Survival
Brats17ID
Brats17_TCIA_167_1    8764388  26654  57398  79560  74.907       153
Brats17_TCIA_242_1    8771394   9087  88963  58556  66.479       147

In [103]:
X = Volumes_DF[Volumes_DF.columns[1:5]].values
y = Volumes_DF['Survival'].values

In [104]:
X.shape

(163, 5)

In [105]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state= 99)

Regressor = RandomForestRegressor(n_estimators = 100)

Regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [115]:
from tensorly.regression.kruskal_regression import KruskalRegressor
KruskalRegressor?

In [120]:
Xtensor_flair = np.zeros((num_patients,rows,cols,cuts))
Xtensor_t1 = np.zeros((num_patients,rows,cols,cuts))
Xtensor_t2 = np.zeros((num_patients,rows,cols,cuts))

for idx, patient in enumerate(Patients):
    I = load_data(StartDir, Patients[0], element='flair')
    Xtensor_flair[idx,...] = I

In [ ]:
Regressor= KruskalRegressor(2, tol=1e-06, reg_W=1, n_iter_max=100, random_state= 99, verbose=1)
Regressor.fit(Xtensor_flair, y)

In [ ]:
Xtensor.shape

In [121]:
Xtensor_flair.shape

(163, 240, 240, 155)

In [122]:
y

array([ 153,  147,  254,  519,  346,   82,  508,   77, 1458,  244,  213,
          5,   99,  434,  232,   30,  333,  476,  121,  372,  626,  296,
        448,  635,  327, 1282,  382,   22,  425,  467,   82,  468,  103,
        946,  747,  357,  175,  621,  405,  317,  828,  111,  616,  127,
       1731,  104,  329,  424,  262,   71,   67,  362,  737,  812,  394,
        187,   82, 1489,  355,  822,  268, 1561,  634,  804,  600,  291,
        199,  448,  209,  110,  430,   86,  370,  630,  322,  558,  150,
        120,  436,  510,  401,  448,  734,   58,  387,   50,  191,  114,
        394,  345,  438,  168, 1767,  375,  139,  180,  387,  614,  579,
         12, 1337,  376, 1592,  453,  385,  152,  355,  208,  610,  239,
        597,   85,  265,  407,  522,  660,  208,  318,  210,  871,  495,
        726,  286,  229,   84,   30,  172,   89,   33, 1283,  473,  488,
        170,  466,   32,  106,  336,  203,   23,  331,  332,  350,  576,
         55,  287,  486,  439,  368,  169,  359,  698,  495,  421,  515,
       1155, 1278,  503,  269,  465,  788,  464,  616,  289])